.menu {
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    margin-left: 30px;
    list-style: none;
}

.menu-item a {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #111111
}



